.day-forecast {
  background: linear-gradient(#449FC3, #093D51);
  min-height: 162px;
}

.hour-forecast-container {
  overflow: scroll;
  scroll-snap-type: x proximity;
  flex-wrap: nowrap;
}
.hour-forecast {
  box-shadow: 6px 1px 17px #12495f;
  min-width: 100px;
}
